p{
    font-family: Roboto, arial;  /* This syntax with a comma is called a "font stack", where it sets up a back-up font, in case the "Roboto" font fails to load from Google, then it will fall back to a back-up font which is the "Arial" font. */ 
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail-1{ 
    width: 300px;
    display: block;
}
.search-bar{
    display: block;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;  /* This code is used to adjust the space between the lines of texts. */
    margin-bottom: 12px;
}
/* Lesson 9 
div Element = division = just a box.  By default, the div is a block element */

.video-preview{
    display: inline-block;
    width: 300px;
    vertical-align: top;  /* This code is used to align elements on the same line where they are on */
    margin-right: 15px;
}
.channel-picture{
    display: inline-block;
    width: 50px;    /*  it shares the same "width" as for the "profile-picture" does too, because the "channel-picture" container has a width of 50px, so the "profile-picture" has to have the same dimesions, so the image can fit in properly  */
    vertical-align: top;
    background-color: gray;
}
.video-info{
    display: inline-block;
    width: 245px;
    background-color: gray;
}
.profile-picture{
    width: 40px;    /*  "width: 100%;" This is a better way to give a " width" to the image instead of "width:50px", because the image will take up the entire space of its container. 
    As noticed, the width is 40px, because it was changed to upgrade the size of the profile-picture*/
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 12px;
}
.video-author, .video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 4px;
}
